
<h1>¡Bienvenido,{{user.first_name}} </h1>
<button id="logOut"><a href="http://localhost:4000/api/sessions/logout">Log Out</a></button>
<h2>Lista de productos</h2>

    <div id="productsContainer">
    </div>
