<h1>Log in</h1>
    <form id="loginForm" action="http://localhost:4000/api/sessions/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" required>

        <label for="password">Password:</label>
        <input type="text" name="password" required>

        <button type="submit">Log In</button>
    </form>

